/* Css geral da pagina */

html {
    font-family: 'Bebas Neue','Open sans', 'sans-serif';
    color: #373A3A;
}

a {
    transition: .5s;
}

/* SideBar */

#sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #006599;
    padding-top: 40px;
}

